<div class="container">
    <div class="row">
            <div class="col-6">
                <h2>Lista Marche gestite</h2>
            </div>
            <div class="col-6">
                <button (click)="addMarca()" class="btn btn-primary btn-round float-right"><i class="fa fa-plus"></i> Aggiungi Marca</button>
            </div>
    </div>
    <table class="table table_striped">
        <thead>
            <tr>
                <th>Marca</th>
                <th>Visibilità</th>
            </tr>

        </thead>
        <tbody>
            <tr *ngFor="let marca of marche">
                <td (click)="getByMarca(marca.id)" role="button">
                    <h5> {{ marca.brand }} </h5>
                </td>
                <td>
                    <h5>
                        <i class="fa fa-eye" style="color: #24b1ca;" aria-hidden="true" *ngIf="marca.isVisible; else elseBlock"></i>
                    </h5>
                </td>
                <ng-template #elseBlock>
                    <i class="fa fa-eye-slash" style="color: #ff5757;" aria-hidden="true"></i>
                </ng-template>
                <td (click)="goToUpdate(marca.id)" role="button">
                    <button class="btn-circle btn btn-success">
                        <h5><i class="fa fa-pencil"></i></h5>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>