<div class="container">
    <h2>Lista Movimenti</h2>
<table class = "table table_striped">
    <thead>
<tr>
    <th>ID</th>
    <th>Marca</th>
    <th>Modello</th>
    <th>Data</th>
    <th>Tipo</th>
    <th>Quantità</th>
</tr>
    </thead>
    <tbody>
        <tr *ngFor="let movimento of movimenti">
            <td> {{ movimento.id }} </td>
            <td> {{ movimento.bicicletta.marca.brand }} </td>
            <td> {{ movimento.bicicletta.modello }} </td>
            <td> {{ movimento.timeStamp}} </td>
            <td> {{ movimento.tipoMovimento }} </td>
            <td> {{ movimento.quantita }} </td>
        </tr>
    </tbody>
</table>


</div>
