<div class="container">
    <div class="row">
        <div class="col-6">
            <h6> {{bicicletta?.marca?.brand}}</h6>
            <h1>{{bicicletta?.modello}} </h1>
        </div>
        <div class="col-6">
            <h3>{{bicicletta?.disponibilita}} pezzi disponibili</h3>
        </div>
    </div>
    <form [formGroup]="aggiungiForm" (ngSubmit)="onSubmit()">
        <div class="form group row">
            <div class="md-form col-6">
                <label for="tipoMovimento">Tipo Movimento</label>
                <select class="form-control" (change)="validateForm()"[(ngModel)]="movimento.tipoMovimento" name="tipo" formControlName="tipo" id="tipo"> 
                    <option *ngFor="let key of keys" [value]="key">{{tipoMovimento[key]}}</option>
                </select>
            </div>
            <div class="md-form col-6">
                <label>Quantità</label>
                <input class="form-control" type="number" (change)="validateForm()" formControlName="quantita" name="quantita" id="quantita" [(ngModel)]="movimento.quantita" min="0">
            </div>
        </div>
        <div class="btn-group col-6 offset-3 text-center">
            <button class="btn btn-success btn-round" [disabled]="aggiungiForm.invalid" type="submit">Aggiungi</button>
            <button (click)="backToDettagli(bicicletta.id)" type="button" class="btn btn-danger btn-round">Indietro</button>
        </div>
    </form>
    
    <!-- AGGIUNGERE FORM PER AGGIUNTA MOVIMENTO -->
    
    <h2>Lista Movimenti</h2>
    <table class = "table table_striped">
        <thead>
    <tr>
        <th>Data</th>
        <th>Tipo</th>
        <th>Quantità</th>
    </tr>
        </thead>
        <tbody>
            <tr *ngFor="let movimento of movimenti">
                <td> {{ movimento.timeStamp}} </td>
                <td> {{ movimento.tipoMovimento }} </td>
                <td> {{ movimento.quantita }} </td>
            </tr>
        </tbody>
    </table>
</div>