<div class="col-md-6 offset-md-3">
    <h2>Modifica Marca</h2>
    <form [formGroup]="updateMarcaForm" (ngSubmit)="onSubmit()">

        <div class="md-form">
            <label for="brand">Brand</label>
            <input type="text" class="form-control"
                [ngClass]="{'is-invalid':updateMarcaForm.get('brand').errors && updateMarcaForm.get('brand').touched}"
                id="brand" required [(ngModel)]="marca.brand" name="brand" placeholder="Brand" formControlName="brand">
            <div class="invalid-feedback" *ngIf="updateMarcaForm.get('brand').errors?.brandTaken">
                Brand già inserito
            </div>
            <div class="invalid-feedback" *ngIf="updateMarcaForm.get('brand').errors?.required">
                Campo vuoto, inserire un brand
            </div>

        </div>
        <div class="md-form">
            <label>Visibilità</label>
            <br>
            <label class="switch">
                <input type="checkbox" [(ngModel)]="marca.isVisible" name="isVisible" id="isVisible"
                    formControlName="isVisible">
                <span class="slider round"></span>
            </label>
        </div>

        <div class="btn-group col-6 offset-3 text-center">
            <button class="btn btn-success btn-round" [disabled]="updateMarcaForm.invalid"
                type="submit">Aggiungi</button>
            <button class="btn btn-danger btn-round" (click)="backOnMarche()" type="button">Indietro</button>
            <div *ngIf="biciclette?.length == 0; then thenBlock else elseBlock"></div>
            <ng-template #thenBlock>
                <button class="btn btn-primary btn-round" (click)="deleteMarca(marca.id)" type="button">Elimina</button>
            </ng-template>
            <ng-template #elseBlock>
                <button class="btn btn-primary btn-round" disabled="true" type="button">Elimina</button>
            </ng-template>

        </div>
    </form>