<div class="container">
    <h1>Modifica Bicicletta</h1>
    <div class="row col-10 offset-1">
        <div class="col-6">
            <img src="https://www.geometrian.it/wp-content/uploads/2016/12/image-placeholder-500x500.jpg">
        </div>
        <div class="col-6">
            <form [formGroup]="updateBiciForm" (ngSubmit)="onSubmit()">

                <div class="md-form">
                    <h5>Marca</h5>
                    <select class="form-control" [(ngModel)]="bicicletta.marca.id" name="marca" formControlName="marca"
                        id="marca">
                        <option *ngFor="let marca of marche" value={{marca?.id}}>{{marca?.brand}}</option>
                    </select>
                </div>
                <div class="md-form">
                    <h5>Modello</h5>
                    <input type="text" class="form-control" [(ngModel)]="bicicletta.modello" name="modello"
                        formControlName="modello" id="modello" value={{bicicletta?.modello}}>
                </div>
                <div class="md-form">
                    <h5>Prezzo</h5>
                    <input type="number" class="form-control" [(ngModel)]="bicicletta.prezzo" name="prezzo"
                        formControlName="prezzo" id="prezzo" min="0" value={{bicicletta?.prezzo}}>
                </div>
                <div class="md-form">
                    <h5>Disponibilità</h5>
                    <input type="number" class="form-control" [(ngModel)]="bicicletta.disponibilita"
                        name="disponibilita" formControlName="disponibilita" id="disponibilita" min="0" 
                        value={{bicicletta?.disponibilita}}>
                    <button class="btn btn-secondary btn-round w-100" (click)="toNewMovimento(bicicletta.id)">
                        <h6> Modifica la quantità</h6>
                    </button>
                </div>

                <div class="md-form">
                    <label>Visibilità</label>
                    <br>
                    <label class="switch">
                        <input value={{bicicletta.isVisible}} type="checkbox" [(ngModel)]="bicicletta.isVisible" name="isVisible" id="isVisible"
                            formControlName="isVisible" >
                        <span class="slider round"></span>
                    </label>
                </div>

                <div class="btn-group col-6 offset-3 text-center">
                    <button class="btn btn-success btn-round" [disabled]="updateBiciForm.invalid"
                        type="submit">Salva modifiche</button>
                    <button (click)="backToHome()" type="button" class="btn btn-danger btn-round">Annulla</button>
                </div>
            </form>
        </div>
    </div>
</div>