.btn-circle {
    width: 50px;
    height: 50px;
    text-align: center;
    padding: 6px 0;
    font-size: 18px;
    line-height: 1.428571429;
    border-radius: 30px;
  }

h5, .h5{
    line-height: 0em;
    margin-bottom: 0px;
}