<div class="container">
    <button class="btn btn-primary btn-round" (click)="toAddNew()"><i class="fa fa-plus"></i> Nuova Bicicletta</button>
    <table class = "table table_striped">
        <thead>
            <tr>
                <th>Marca</th>
                <th>Modello</th>
                <th>Prezzo</th>
                <th>Pezzi disponibili</th>
                <th>Visibilità</th>
            </tr>
    
        </thead>
        <tbody>
            <tr class="align-middle" *ngFor="let bicicletta of biciclette" (click)="getDettagli(bicicletta.id)" role="button">
                    <td><h5> {{ bicicletta.marca.brand }} </h5></td>
                    <td><h5> {{ bicicletta.modello }} </h5></td>
                    <td><h5> {{ bicicletta.prezzo|currency: "€" }} </h5></td>
                    <td><h5> {{ bicicletta.disponibilita }} </h5></td>
                    
                    <td><h5>
                        <i class="fa fa-eye" aria-hidden="true" style="color: #24b1ca;" *ngIf="bicicletta.isVisible; else elseBlock"></i>
                    </h5></td>
                    <ng-template #elseBlock>
                        <i class="fa fa-eye-slash" style="color: #ff5757;" aria-hidden="true"></i>
                    </ng-template>
                <td (click)="goToUpdate(bicicletta.id)" role="button">
                    <button class="btn-circle btn btn-success">
                        <h5><i class="fa fa-pencil"></i></h5>
                    </button>
                </td>
            </tr>
            
        </tbody>
    </table>
</div>
