<div class="container">
    <h2>{{bikeBrand?.brand}}</h2>
<div *ngIf="biciclette?.length == 0; then thenBlock else elseBlock"></div>
<ng-template #thenBlock>
    <div class="alert alert-info" role="alert">
        <h4 class="alert-heading"> Nessuna bicicletta</h4>
        <p> Non sono presenti biciclette associate a questa marca</p>
    </div>
</ng-template>
<ng-template #elseBlock>
    
    <table class = "table table_striped">
        <thead>
            <tr>
                <th>Modello</th>
                <th>Prezzo</th>
                <th>Pezzi disponibili</th>
                <th>Visibilità</th>
            </tr>

        </thead>
        <tbody>
            <tr *ngFor="let bicicletta of biciclette" (click)="getDettagli(bicicletta.id)" role="button">
                <td><h5> {{ bicicletta.modello }} </h5></td>
                <td><h5> {{ bicicletta.prezzo|currency: "€" }} </h5></td>
                <td><h5> {{ bicicletta.disponibilita }} </h5></td>
                <td><h5>
                    <i class="fa fa-eye" style="color: #24b1ca;" aria-hidden="true" *ngIf="bicicletta.isVisible; else elseBlock"></i>
                </h5></td>
                <ng-template #elseBlock>
                    <i class="fa fa-eye-slash" style="color: #ff5757;" aria-hidden="true"></i>
                </ng-template>
                <td (click)="goToUpdate(bicicletta.id)" role="button">
                    <button class="btn-circle btn btn-success">
                        <h5><i class="fa fa-pencil"></i></h5>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</ng-template>
<div>
    <button (click)="goToAllMarche()" type="button" class="btn btn-danger btn-round">Indietro</button>
</div>
</div>
