<div class="container">
    <span>
        <h6> {{bicicletta?.marca?.brand}}</h6>
        <h1>{{bicicletta?.modello}} </h1>
    </span>
    <div class="row col-10 offset-1">
        <div class="col-6">
            <img src="https://www.geometrian.it/wp-content/uploads/2016/12/image-placeholder-500x500.jpg">
        </div>
        <div class="col-6">
            <table class="table text-right">
                <thead>
                    <tr>
                        <h2>Info sul prodotto</h2>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <h5>{{bicicletta?.marca?.brand}}</h5>
                    </tr>
                    <tr>
                        <h5>{{bicicletta?.modello}}</h5>
                    </tr>
                    <tr>
                        <h5>{{bicicletta?.disponibilita}} pezzi disponibili</h5>
                    </tr>
                    <tr>
                        <h5>{{bicicletta?.prezzo| currency: "€"}}</h5>
                    </tr>
                    <tr>
                        <div class="row text-right" *ngIf="bicicletta?.isVisible; then thenBlock else elseBlock"></div>


                    </tr>
                    <ng-template #thenBlock>
                            <h5><i class="fa fa-eye float-right" aria-hidden="true"></i>Visibile</h5>

                    </ng-template>

                    <ng-template #elseBlock>
                            <h5><i class="fa fa-eye-slash float-right" aria-hidden="true"></i>Nascosto</h5>

                    </ng-template>

                </tbody>
            </table>



        </div>
    </div>
    <div class="row">
        <div class="btn-group col-10 offset-1">
            <button class="btn btn-danger btn-round" (click)="goToUpdate(bicicletta.id)"><span>
                    <h6><i class="fa fa-pencil float-left align-middle" ></i>Modifica</h6>
                </span></button>
            <button class="btn btn-secondary btn-round" (click)="toNewMovimento(bicicletta.id)">
                <h6><i class="fa fa-file float-left align-middle" ></i>Movimenti</h6>
            </button>
            <button class="btn btn-success btn-round" (click)="toHomePage()">
                <h6><i class="fa fa-arrow-left float-left align-middle"></i>Torna alla Home</h6>
            </button>
        </div>
    </div>

</div>